*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.sky{
    background-image: url(background.jpg);
    height: 100vh;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
}
.trees{
    height: 100vh;
    width: 100%;
    background-image: url(trees.png);
    background-size: cover;
    position: absolute;
    animation: shakeBody linear 6s infinite;
}
.track{
    height: 40vh;
    width: 900vw;
    background-image: url(track.png);
    background-repeat: repeat-x;
    position: absolute;
    top: 94vh;
    animation: carMove linear 11s infinite;
}
.car{
    height: 25vh;
    width: 60%;
    background-image: url(carBody.png);
    background-repeat: no-repeat;
    background-size: 66vh;
    position: absolute;
    top: 79vh;
    left: 30vh;
    animation: carShake linear 1s infinite ;
}
.wheel1 img{
    position: relative;
    height: 15vh;
    width: 14vh;
    left: 7vh;
    top: 6vh;
    animation: wheelRotation linear .6s infinite;
}
.wheel2 img{
    position: relative;
    height: 15vh;
    width: 15vh;
    left: 40.2vh;
    top: -9vh;
    animation: wheelRotation linear .5s infinite;
}
